<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/home.css' />
</head>

<body>
  <div id="app">
    <div class="home-container">
      <p class = "title"> Bienvenido </p>
      <p class = "subtitle"> Escoge una opción </p>
      <div class="buttons">
        <a href="./list">
          <button class="button button-list" id="list">Listar Usuarios</button>
        </a>
        <a href="./register">
          <button class="button button-create" id="create">Crear Usuarios</button>
        </a>
      </div>
  </div>
</body>

</html>